<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Administrator</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <div class="menu">
        <h2>Zalogowałeś się jako administrator</h2>
        <div>
            <h3>Możliwe działania:</h3>
            <button onclick="window.location.href='/add'" class="btn">Dodaj produkt</button><br><br>
            <button onclick="window.location.href='/update'" class="btn">Modyfikuj informacje o produkcie</button><br><br>
            <button onclick="window.location.href='/remove'" class="btn">Usuń produkt</button><br><br>
            <button onclick="window.location.href='/users'" class="btn">Przeglądaj listę użytkowników</button><br><br>
        </div>
    </div> 
</body>
</html>