<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Użytkownicy</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <div class="users-list">
        <h2>Lista użytkowników sklepu</h2>
        <table border="1">
            <tr>
                <th>ID użytkownika</th>
                <th>Nazwa</th>
                <th>Rola</th>
            </tr>
            <% users.forEach(user => { %>
                <tr>
                    <td><%= user.ID %></td>
                    <td><%= user.USERNAME %></td>
                    <td><%= user.ROLE %></td>
                </tr>
            <% }); %>
        </table>
    </div>
</body>
</html>